[submodule "plc"]
	path = plc
	url = https://github.com/marius-patrik/plc.git
[submodule "phonebooth"]
	path = phonebooth
	url = https://github.com/marius-patrik/phonebooth.git
[submodule "tradebot"]
	path = tradebot
	url = https://github.com/marius-patrik/tradebot.git
[submodule "pokedex"]
	path = pokedex
	url = https://github.com/marius-patrik/pokedex.git
[submodule "RobotArm"]
	path = RobotArm
	url = https://github.com/marius-patrik/RobotArm.git
[submodule "SuperHumanRobot"]
	path = SuperHumanRobot
	url = https://github.com/marius-patrik/SuperHumanRobot.git
[submodule "VRHeadset"]
	path = VRHeadset
	url = https://github.com/marius-patrik/VRHeadset.git
