[submodule "Applications/liqid-docs"]
	path = Applications/liqid-docs
	url = https://github.com/marius-patrik/liqid-docs.git
[submodule "Applications/liqid-showcase"]
	path = Applications/liqid-showcase
	url = https://github.com/marius-patrik/liqid-showcase.git
[submodule "Applications/phonebooth"]
	path = Applications/phonebooth
	url = https://github.com/marius-patrik/phonebooth.git
[submodule "Applications/tradebot"]
	path = Applications/tradebot
	url = https://github.com/marius-patrik/tradebot.git
[submodule "Applications/pokedex"]
	path = Applications/pokedex
	url = https://github.com/marius-patrik/pokedex.git
[submodule "Libraries/liqid"]
	path = Libraries/liqid
	url = https://github.com/marius-patrik/liqid.git
[submodule "Projects/RobotArm"]
	path = Projects/RobotArm
	url = https://github.com/marius-patrik/RobotArm.git
[submodule "Projects/SuperHumanRobot"]
	path = Projects/SuperHumanRobot
	url = https://github.com/marius-patrik/SuperHumanRobot.git
[submodule "Projects/VRHeadset"]
	path = Projects/VRHeadset
	url = https://github.com/marius-patrik/VRHeadset.git
