[submodule "src/components/Apps/phonebooth"]
	path = src/components/Apps/phonebooth
	url = https://github.com/marius-patrik/phonebooth.git
[submodule "src/components/Apps/tradebot"]
	path = src/components/Apps/tradebot
	url = https://github.com/marius-patrik/TradeBot.git
