@import "tailwindcss";

@layer base {
  html,
  body {
    @apply font-stretch-105% text-lg bg-white text-black dark:bg-black dark:text-white;
  }
}

@layer components {
  .style-link {
    @apply hover:text-black active:text-black dark:hover:text-white dark:active:text-white text-sky-300 dark:text-sky-300;
  }
}
